body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    position: relative;
    background-image: url("imagens/Portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px;
    text-align: center;
    color: rgb(247, 245, 245); /* Color del texto del título */
}

.main-title {
    position: absolute;
    top: 10%; /* Ajusta la posición vertical al centro del contenedor principal */
    left: 50%; /* Ajusta la posición horizontal al centro del contenedor principal */
    transform: translate(-50%, -50%); /* Centra el título en ambas direcciones */
    font-size: 40px; /* Tamaño de la letra deseado */
}



.logo img {
    max-width: 80px;
    max-height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white; /* Establece el fondo blanco */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.event-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-buttons button {
    background-color: #f7f9fa;
    color: #030303;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}