body {
  font-family: Arial, sans-serif;
  background-color: #fcf1f1; 
}

header {
  position: relative;
  background-image: url("imagens/Portada.jpg");
  background-size: cover;
  background-position: 60% center; /* Ajusta el valor de porcentaje según sea necesario */
  background-repeat: no-repeat;
  padding: 160px 0;
  margin: 0;
  text-align: center;
  color: rgb(247, 245, 245);
}

.main-title {
  position: absolute;
  top: 20%; /* Ajusta la posición vertical */
  right: 10%;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: right;
}

#logoContainer {
  position: fixed;
  top: 20px;
  left: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

#logoContainer:hover {
  transform: scale(1.1);
}

#logoLink {
  display: block;
  width: 40px;
  height: auto;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  max-width: none; /* Quita el límite de ancho */
  margin: 10px auto;
}

.header-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.header-buttons button,
.header-buttons .other-buttons,
.header-buttons #buscarButton {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.header-buttons button:not(:last-child),
.header-buttons .other-buttons:not(:last-child),
.header-buttons #buscarButton:not(:last-child) {
  margin-right: 20px;
}

.header-buttons button:hover,
.header-buttons .other-buttons:hover,
.header-buttons #buscarButton:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #2980b9;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espaciado superior para separar de los botones */
}

.other-buttons {
  background-color: #1378bb;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  margin-right: 10px;
}

.other-buttons:hover {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #2980b9;
}

.event-card {
  border: 1px solid #faf7f7;
  padding: 15px; /* Aumenta el relleno interno */
  margin-right: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(0.9);
  width: calc(20% - 30px); /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  box-sizing: border-box;
  display: inline-block;
}

.event-card:last-child {
  margin-right: 0;
}

.event-card:hover {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-card img {
  width: 100%;
  height: 70%; /* Ajusta la altura de la imagen dentro de la tarjeta */
  object-fit: cover; /* Ajusta la forma en que la imagen se ajusta a la tarjeta */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  background-color: #1a6292;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  transform: translate(-50%, 0%);
}

#registroModal {
  display: none;
  position: absolute;
  background-color: #1a6292;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  transform: translate(-50%, 0%);
}

.modal-content {
  width: 190px;
  margin: auto;
}

.modal-content label,
.modal-content input,
.modal-content button {
  margin-bottom: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

.detalle-evento {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f8fa;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.close {
  color: #333;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}